<?xml version="1.0"?>

<model>
  <name>arena_barriers</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Abdullah Abduldayem</name>
    <email>abdullah.dayem@kustar.ac.ae</email>
  </author>

  <description>
    Barriers that go around the MBZIRC arena
  </description>

</model>
