<launch>
  <arg name="random_panel" default="true"/>

  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"  />
  <arg name="headless" default="false"/>


    <include if="$(arg random_panel)" file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
      <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2_random.world"/>
      <arg name="paused" default="$(arg paused)"/>
      <arg name="debug" default="$(arg debug)"/>
      <arg name="gui" default="$(arg gui)"  />
      <arg name="headless" default="$(arg headless)"/>
    </include>


  <group unless="$(arg random_panel)">
    <!-- start paused to ensure all the models have spawned -->
    <include file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
      <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2.world"/>
      <arg name="paused" default="true"/>
      <arg name="debug" default="$(arg debug)"/>
      <arg name="gui" default="$(arg gui)"  />
      <arg name="headless" default="$(arg headless)"/>
    </include>

    <node name="spawn_panel" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args=" -file $(find kuri_mbzirc_sim)/gazebo_models/models/panel/model.sdf -unpause -sdf -model panel -x 0 -y 0 -z 0" />
  </group>

</launch>
