<launch>
  <arg name="random_panel_wrenches" default="true"/>
  <arg name="random_panel_location" default="true"/>

  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"  />
  <arg name="headless" default="false"/>


  <!-- Random location-->
  <include if="$(arg random_panel_location)" file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
    <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2_random_location.world"/>
    <arg name="paused" default="$(arg paused)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" default="$(arg gui)"  />
    <arg name="headless" default="$(arg headless)"/>
  </include>


  <group unless="$(arg random_panel_location)">
    <!-- Random location-->
    <include if="$(arg random_panel_wrenches)" file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
      <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2_random_wrenches.world"/>
      <arg name="paused" default="$(arg paused)"/>
      <arg name="debug" default="$(arg debug)"/>
      <arg name="gui" default="$(arg gui)"  />
      <arg name="headless" default="$(arg headless)"/>
    </include>

    <!-- No randomization -->
    <include unless="$(arg random_panel_wrenches)" file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
      <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2.world"/>
      <arg name="paused" default="$(arg paused)"/>
      <arg name="debug" default="$(arg debug)"/>
      <arg name="gui" default="$(arg gui)"  />
      <arg name="headless" default="$(arg headless)"/>
    </include>
  </group>

</launch>
